.introPoster img{
    object-fit: scale-down;
    height: 100%;
}
.introMovie>div{
    height: 100%
}
.introPoster{
    height: 65%;
}
.introTitle{
    height: 20%;
    margin-bottom: 1%;
}


.introMovieRating{
    height: 10%;
}
.introMovie{
    height: 100%
}
#poster{
    height: 58%;
}
/*.grid{*/
/*    max-height: 50%;*/
/*}*/
.container{
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 5px 10px;
}
.column{
    height: 100%
}
#root{
    padding: 2%;
}

#poster img{
    /*width: 100%;*/
    object-fit: contain;
}

#lastSavedMovie .introMovieRating, #lastWatchedMovie .introMovieRating{
    position: inherit;
    height: 20px
}
#lastSavedMovie .movieCardRating, #lastWatchedMovie .movieCardRating{
    position: inherit
}

#outerContainer{
    height: 100%;
}
#searchList>.row{
    padding: 5px;
}
#searchList{
    overflow: hidden;
    max-height: 225px;
}

.introButtons{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#introContainer{
    height: 100%;
    text-align: center
}

#movieTable{
    margin-left: auto;
    margin-right: auto;
}
#container{
    height: 90%;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 5px 10px;
}

.allMovies {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

    #container>h2{
        height:10%;
    }

#container>h3{
    height:8%;
}

#savedWatched{
    height: 24%;
}


