.introPoster img{
    object-fit: scale-down;
    height: 100%;
}
.introPoster{
    height: 85%;
}
/*.introTitle{*/
/*    height: 15%;*/
/*}*/

.introMovieRating{
    height: 15%;
}
.introMovie{
    height: 100%
}
#poster{
    height: 60%;
}
/*.grid{*/
/*    max-height: 50%;*/
/*}*/
.container{
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 5px 10px;
}
.column{
    height: 100%
}
#root{
    padding: 2%;
}

#poster img{
    /*width: 100%;*/
    object-fit: contain;
}

#lastSavedMovie .introMovieRating, #lastWatchedMovie .introMovieRating{
    position: inherit;
    height: 20px
}
#lastSavedMovie .movieCardRating, #lastWatchedMovie .movieCardRating{
    position: inherit
}

#outerContainer{
    height: 100%;
}
#searchList>.row{
    padding: 5px;
}
#searchList{
    overflow: hidden;
    max-height: 225px;
}
